@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;1,500&family=Pangolin&family=Rubik+Moonrocks&display=swap');

body {
  margin: 0;
  padding: 0;

  
  }
  
  .purple-header {
    background-color: purple;
    width: 100%;
    height: 110vh;
    margin: 0 auto;
    color: white;

  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px ;
    width: 85%;
    transition: 0.3s;
    
  }
  
  .navbar-logo {
    font-size: 20px;
    font-weight: bold;
    padding-left: 100px;
    color: white;
    text-decoration: none;
    
  }
 
  .navbar-links {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 1px;
    transition: 0.5s;

  
  }
  

  .navbar-link {
    margin-left: 40px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-top: -20px;
    transition: 0.3s;
  }

  .navbar-link1 {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(235, 240, 94);
    font-weight: 400;
    margin-top: -20px;
  }

  .navbar-link2 {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(235, 240, 94);
    font-weight: 400;
    margin-top: -20px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .navbar-link img {
    width: 30px;
    height: 30px;
    margin-top: 6px;
  }

  .navbar-link:hover {
    box-shadow: 0 -5px 0px #fff inset,
    500px 0 0 rgba(255,255,255,0.03) inset ;
    color: rgb(240, 241, 191);
    padding: 15px 15px 15px 15px;
    
    
  }

 

   .portfolio-content {
    text-align: center;
    margin-top: 20px;
  } 

  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; 
    
  } 

  
  .centered-content h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Pangolin', cursive;
  }
 
  .centered-content p {
    color: white;
    margin-top: 1px;
    text-align: left;
  }


  .background-img2{
    width: 21%;
    height: auto;
    margin-top: -28%;
    margin-left: 87%;
  }


  .background-img4{
    width: 22%;
    height: auto;
    margin-top: -35%;
    margin-left: -89%;
  }

  .background-img1{
    width: 15%;
    height: auto;
    margin-top: -2%;
    margin-left: -89%;
  }


  .centered-content h1 {
    color: white;
    font-size: 36px; 
    margin-bottom: 30px;
  } 

  .centered-content .summary {
    margin-top: 60px;
    font-size: 18px;
    width: 65%;
    line-height: 1.6;
    
  }

  .centered-content .career {
   color: rgb(235, 240, 94);
   font-weight: bold;
  }

  .skill-section {
    background-color: white;
    padding: 40px;
    margin-top: 10%;
    height: 20%;
    color: rgb(31, 31, 31);
  }


  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  #typing-animation {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 5s steps(40) infinite;
  }
  
  .centered-content {
    text-align: center;
  }
  
  .skill-section h1 {
    text-align: center;
  }

  .skill-img {

    width: 65%;
    height: 120%;
    margin-top: 90px;
    align-items: center;
    
    
  }

  .skill-section {
    text-align: center;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

 
  
  .paragraph-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .column-container {
    display: flex;
    justify-content: center;
  }
  
  .column-list {
    list-style-type: disc;
    margin-right: 20px;
    margin-top: 60px;
    font-size:16px;
    text-align: left;
    padding-left: 40px;
    line-height: 1.6;
  }
  
  .product-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9fd; 
    margin-top: 30%;
    padding: 80px;
    
  }
  
  .product-info {
    flex: 1;
    padding-right: 20px;
    color: black;
  }

  .device {
    font-weight: 600;
  }

  .product-info h1 {
    color:  purple;
    font-size: 30px;
    font-family: 'Pangolin', cursive;
  }

  .product-info p {
    line-height: 1.6;
    width: 90%;

  }

  .b-device{
    font-weight: 600;
  }
  
  .product-image {
    flex: 1;
    margin-left: 10px; 
  }
  
  .product-image img {
    width: 107%;
    height: auto;
    margin-left: -40px;
  }
 
  .coming-soon-btn {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid purple;
    border-radius: 20px;
    color: purple;
    text-decoration: none;
  }

  .coming-soon-btn:hover {
    background-color: purple;
    color: rgb(235, 240, 94);
  }
   

  .bleanq-section {
    display: flex;
    align-items: center;
  }
  
  .bleanq-info {
    flex: 1;
    text-align: left;
    color: black;
    margin-left: 140px;
   

  }
  
  .bleanq-info h3,
  .bleanq-info h1,
  .bleanq-info p,
  .bleanq-info a {
    margin-right: 10px;
  }
  
  .bleanq-info p{
    width: 81%;
    
  }
  .bleanq-image {
    flex: 1;
    margin-right: 10px; 
  }
  
  .bleanq-image img {
    width: 107%;
    height: auto; 
    margin-left: 65px; 

    
  }
  
  .view-casestudy-btn {
    
        display: inline-block;
        padding: 10px 30px;
        border: 2px solid purple;
        border-radius: 20px;
        color: purple;
        text-decoration: none;
      }
    
  
  
  .view-casestudy-btn:hover {
    background-color: purple;
    color: rgb(235, 240, 94);
  }
  

  .website-link {
    text-decoration: underline;
    color: rgb(75, 73, 73);
  }

  .bleanq-info p {
    line-height: 1.6;
  }

  .bleanq-info h1 {
    color: purple;
    font-size: 30px;
    font-family: 'Pangolin', cursive;
  }

  .bleanq-section {

    margin-top: 70px;
  }
  

  .ipay-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    padding: 70px;
  }
  
  .ipay-info {
    flex: 1;
    padding-right: 20px;
    color: black;
  }

  .i-device {
    font-weight: 600;
  }

  .ipay-info h1 {
    color:  purple;
    font-size: 30px;
    font-family: 'Pangolin', cursive;
  }

  .ipay-info p {
    line-height: 1.6;
    width: 81%;

  }
  
  .ipay-image {
    flex: 1;
    margin-left: 10px; 
  }
  
  .ipay-image img {
    width: 107%;
    height: auto;
    margin-left: -65px;
  }
  
  .ipay-btn {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid purple;
    border-radius: 20px;
    color: purple;
    text-decoration: none;
  }

  .ipay-btn:hover {
    background-color: purple;
    color: rgb(235, 240, 94);
  }
 
  .restaurant-section {
    display: flex;
    align-items: center;
    margin-top: 60px;
  }
  
  .restaurant-info {
    flex: 1;
    text-align: left;
    color: black;
    margin-left: 130px;

  }
  
  .restaurant-info h3,
  .restaurant h1,
  .restaurant p,
  .restaurant-info a {
    margin-right: 20px;
  }
  
  
  .restaurant-image {
    flex: 1;
    margin-right: 10px; 
  }
  
  .restaurant-image img {
    width: 107%;
    height: auto; 
    margin-left: 65px;
  }
  
  .restaurant-btn {
    
        display: inline-block;
        padding: 10px 30px;
        border: 2px solid purple;
        border-radius: 20px;
        color: purple;
        text-decoration: none;
      }
    
  
  
  .restaurant-btn:hover {
    background-color: purple;
    color: rgb(235, 240, 94);
  }
   
  .restaurant-info p {
    line-height: 1.6;
    width: 81%;
  }

  .restaurant-info h1 {
    color: purple;
    font-size: 30px;
    font-family: 'Pangolin', cursive;
  }

  .chi-device {
    font-weight: 600;
  }
q
  .para {
    width: 95%;
  }

  .learning-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    padding: 70px;
  }
  
  .learning-info {
    flex: 1;
    padding-right: 20px;
    color: black;
  }

  .l-device {
    font-weight: 600;
  }

  .learning-info h1 {
    color:  purple;
    font-size: 30px;
    font-family: 'Pangolin', cursive;
  }

  .learning-info p {
    line-height: 1.6;
    width: 81%;

  }
  
  .learning-image {
    flex: 1;
    margin-left: 10px; 
  }
  
  .learning-image img {
    width: 107%;
    height: auto;
    margin-left: -65px;
  }
  
  .learning-btn {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid purple;
    border-radius: 20px;
    color: purple;
    text-decoration: none;
  }

  .learning-btn:hover {
    background-color: purple;
    color: rgb(235, 240, 94);
  }

  .footer-section {
    background-color: purple;
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    color: white;
  }

  .footer-info {
    text-align: center;
    margin-top: 50px;
  }

  .courtesy {
    padding-top: 10px;
  }

  .contact-link img {
    padding: 20px;
    margin-top: 10px;
  }

  .footer-para {
    width: 70%;
    text-align: center;
    align-items: center;
    margin-left: 180px;
    font-size: 18px;
    line-height: 1.7;
    margin-top: 100px;
  }

  .footer-info h1 {

    color: rgb(235, 240, 94);
    position: relative;
    top: 50px;
    font-family: 'Pangolin', cursive;
  }

  .container-header {
     
    background-color: purple;
    width: 100%;
    height: 110px;
    color: white;

  }

  .img-header img {
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
  }

  .ipayimg-header img {
    width: 70%;
    height: 30%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 200px;
  }


  .ipayimg-header h1 {
    color: purple;
    text-align: center;
    font-family: 'Pangolin', cursive;
    padding-top: 40px;
  }

  .ipayimg-header p {
    color: black;
    width: 53%;
    font-size: 18px;
    margin-left: 25%;
    line-height: 1.6;
    
  }

  .img-header h1 {
    color: purple;
    text-align: center;
    font-family: 'Pangolin', cursive;
    padding-top: 40px;
  }

  .img-header p {
    color: black;
    width: 35%;
    font-size: 18px;
    margin-left: 34%;
    line-height: 1.6;
    
  }

  .role-section {
    color: black;
    font-size: medium;
    line-height: 1;
    
  }
  
  .role {
    display: flex;
    justify-content: center;
    gap: 170px;
    margin-top: -60px;
  }
  
  .tools {
    display: flex;
    margin-left: 238px;
    margin-top: -17%;
    gap: 170px;
  }


  .about-bleanq {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: black;
  }
  
  .overview, .objective, .goal, .problem {
    width: 63%;
    line-height: 1.6;
  }
  
  .overview {
    margin-top: 40px;
  }
  
  .overview h1{
    text-align: center;
    color: purple;
    font-family: 'Pangolin', cursive;
    padding-top: 15px;
    font-size: 30px;
  }

  .objective, .goal {
    margin-top: 10px;
  }
  
.problem img {
  width: 70%;
  height: 40%;
  margin-left: 90px;
  margin-top: 40px;

}

.process h1 {
  color: purple;
  text-align: center;
  font-family: 'Pangolin', cursive;
  padding-top: 30px;
  font-size: 30px;
}

.process img {
  width: 50%;
  height: 30%;
  padding: 70px;
  margin-left: 18%;
}

.design-process{
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}



.design {
  color: black;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: -30px;
}

.questions {
  color: black;
  padding-top: 80px;
}

.survey, .problem-list {
   
  width: 78%;
  line-height: 1.6;
  margin-left: 110px;
}

.survey h3 {
  padding-left: 135px;
}

.problem-list li {

  padding: 10px;
 
}

.problem-list {
  padding-top: 10px;
}

.outcome {
  color: black;
  padding: 40px;
  line-height: 1.6;
  margin-left: 210px;
  
}

.outcome img {
  width: 80%;
  height: 70%;
 padding-top: 40px;
 padding-left: 10px;
  
}

.outcome p {
  width: 78%;
}

.data {
  color: black;
  line-height: 1.6;
  margin-left: 215px;
  margin-top: 50px;
}

.sync h3 {
  padding-left: 35px;
}

.sync p {
  padding-left: 35px;
}

.sync-list li {
  padding: 10px;
  width: 75%;
  margin-left: 10px;
}

.pain-point img {

  width: 60%;
  height: 40%;
  padding-left: 130px;

}

.pain-point {
  padding-top: 30px;
}

.strategy img {
  width: 80%;
  height: 60%;
  padding-left: 10px;
  padding-top: 50px;
}

.strategy {
  padding-top: 50px;
}

.strategy p{
  width: 75%;
}

.competitive {
  color: black;
  padding-top: 70px;
}
.competitive h1 {
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
}

.com-analys {
 line-height: 1.6;
 padding-top: 30px;
 margin-left: 18%;
 
}

.com-analys p{
  width: 75%;
  line-height: 1.6;
}

.com-analys img{
  width: 60%;
  height: 40%;
  margin-top: 30px;
  margin-left: 70px;
}

.difference {
  padding-top: 50px;
}

.solution-list li {
  line-height: 1.6;
  padding: 10px;
  width: 75%;
  margin-left: -22px;
}

.user-persona {
  color: black;
  padding-top: 50px;
}

.user-persona h1 {
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
}

.persona {
  line-height: 1.6;
  padding-top: 30px;
  margin-left: 18%;
}

.persona p{
  width: 75%;
}

.persona img {
  width: 60%;
  height: 40%;
  margin-top: 30px;
  margin-left: 90px;

}

.empathy {
  padding-top: 70px;
}

.idea {
  padding-top: 70px;
}

.ideate {
 color: black;
}

.ideate h1 {
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
  padding-top: 70px;
}

.site-map{
  line-height: 1.6;
  padding-top: 30px;
  margin-left: 18%;
  width: 60%;
}

.site-map  img{
  width: 80%;
  height: 50%;
  margin-top: 60px;
  margin-left: 110px;
}

.design-phase{
  color: black;
}

.design-phase h1 {
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
  padding-top: 70px;
}

.mobile {
  line-height: 1.6;
  padding-top: 30px;
  margin-left: 18%;
  width: 60%;
}

.mobile img{
  width: 80%;
  height: 50%;
  margin-top: 60px;
  margin-left: 110px;
}

.card {
  padding-top: 70px;
}

.lo-fi h3 {
  padding-top: 70px;
  text-align: center;
}

.lo-fi {
  background-color: rgb(235, 233, 235); 
  color: black;
  /* width: 100%; */
  margin-top: 150px; 

}

.lo-fi img {
  width: 60%;
  height: 30%;
  margin-top: 60px;
  margin-left: 250px;
}

.hi-fi h1 {
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
  padding-top: 70px;
}

.hi-fi p {
  line-height: 1.6;
  padding-top: 10px;
  margin-left: 18%;
  width: 60%; 
}

.hi-fi h3 {
  
  padding-top: 50px;
  margin-left: 18%;
}

.hi-fi img {
  width: 60%;
  height: 30%;
  margin-top: 60px;
  margin-left: 270px;
}

.user-testing p{
  line-height: 1.6;
  padding-top: 10px;
  margin-left: 18%;
  width: 60%;
}

.feedback li {
  line-height: 1.6;
  padding-top: 10px;
  margin-left: 16.5%;
  width: 60%;
}

.feedback h3 {
  color: red;
}

.positive-feedback li {
  line-height: 1.6;
  padding-top: 10px;
  margin-left: 16.5%;
  width: 60%;
}

.positive-feedback h3 {
  color: green;
}

.user-testing h3 {
  padding-top: 50px;
  margin-left: 18%;
}

.before-after img {
  width: 60%;
  height: 30%;
  margin-top: 60px;
  margin-left: 270px;
}

.comparison{
  font-weight: bold;
}

.learning img {
  width: 50%;
  height: 30%;
  margin-left:27% ;
}

.learning {
  line-height: 1.6;
  padding-top: 30px;
  margin-left: 18%;
  width: 60%;
}

.learning h3{
  padding-top: 50px;
}

.lesson li {
  line-height: 1.6;
  padding-top: 30px;
  margin-left: -20px;
 
}

.thank-you img{
  width: 60%;
  height: 40%;
  margin-left: 18%;
}

.objective-list li{
  line-height: 1.6;
  padding: 10px;
  width: 75%;
  margin-left: -21px;
}

.objective-heading{
  font-weight: bold;
}

.objectives-list li {
  list-style-type: none;
}

.work-process {
  
    display: flex;
    justify-content: center;
    gap: 170px;
    margin-top: 100px;
} 

.machine{
margin-top: -11%;
margin-left: 19%;
} 

.next-casestudy {
  display: inline-block;
  padding: 10px 100px;
  border: 2px solid purple;
  border-radius: 20px;
  color: purple;
  text-decoration: none;
  margin-top: 70px;
  margin-left: 400px;
}

.next-casestudy:hover {
  background-color: purple;
  color: rgb(235, 240, 94);
}


.genesis-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1%;
  padding: 70px;
  margin-left: -2%;
}

.genesis-info {
  flex: 1;
  padding-right: 20px;
  color: black;
}

.genesis-info p {
  line-height: 1.6;
  width: 500px;

}

.genesis-image {
  flex: 1;
  margin-left: 130px; 
}

.future-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5%;
  padding: 70px;
  margin-left: 4%;
}

.future-info {
  flex: 1;
  padding-right: 20px;
  color: black;
}

.future-info p {
  line-height: 1.6;
  width: 470px;

}

.future-image img {
  flex: 1;
  margin-left: 160px; 
}

.ipay-problems {
  line-height: 1.6;
 
  margin-left: 19%;
  width: 60%;
  color: black;
}

.ipay-problems h3{
  padding-top: 100px;
}

.ipay-problems img {
  width: 80%;
  height: 50%;
  margin-left: 10%;
  padding-top: 40px;
}

.ipay-heading{
  line-height: 1.6;
  padding-top: 50px;
  margin-left: 18%;
  width: 60%;
  color: black;
}

.ipay-heading h1{
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
}

.research-question {
  margin-top: 70px;
}


.ipay-questions li {
  line-height: 1.6;
  padding: 10px;
  width: 75%;
  margin-left: -22px;
}

.ipay-container p {
  line-height: 1.6;
  padding-top: 20px;
  margin-left: 18%;
  width: 60%;
  color: black;
}

.ipay-analysis h3{
  color: black;
  margin-left: 18%;
  padding-top: 50px;
}

.ipay-analysis img{
  width: 60%;
  height: 40%;
  margin-left: 17%;
  padding-top: 40px;
}

.ipay-container {
  color: black;
}

.insight-list li{
  line-height: 1.6;
  padding: 10px;
  width: 60%;
  margin-left: 182px;
  list-style-type: none;

}

.insight-heading{
  font-weight: bold;
}

.ipay-painpoint{
  color: black;
}

.competitive-sub p {
  line-height: 1.6;
  padding-top: 20px;
  margin-left: 18%;
  width: 60%;
  color: black;
}

.competitive-sub h3{
  color: black;
  margin-left: 18%;
  padding-top: 50px;
}

.competitive-sub img{
  width: 60%;
  height: 40%;
  margin-left: 17%;
  padding-top: 40px;
}

.competitive-analysis{
  color: black;
}

.competitive-analysis h1{
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
  margin-top: 100px;
}

.ideation-phase{
  color: black;
}

.ideation-phase h1 {
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
  margin-top: 100px;
}

.ipay-userflow p{
  line-height: 1.6;
  padding-top: 20px;
  margin-left: 18%;
  width: 60%;
}

.ipay-userflow h3 {
  margin-left: 18%;
  padding-top: 50px;
}

.ipay-userflow img{
  width: 60%;
  height: 40%;
  margin-left: 17%;
  padding-top: 40px; 
}

.ipay-design h1 {
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
  margin-top: 100px;
}

.ipay-wireframe h3{
  margin-left: 18%;
  padding-top: 50px;
  color: black;
}

.ipay-wireframe p {
  line-height: 1.6;
  padding-top: 20px;
  margin-left: 18%;
  width: 60%;
  color: black;
}

.ipay-wireframe img {
  width: 60%;
  height: 40%;
  margin-left: 17%;
  padding-top: 40px; 
}

 .ipay-cover {
  width: 100%;
  height: 5%;
  padding-top: 120px; 
} 

.ipay-testing-phase{
  color: black;
}

.ipay-testing-phase h1{
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
  margin-top: 100px;
}

.ipay-testing p{
  line-height: 1.6;
  padding-top: 20px;
  margin-left: 18%;
  width: 60%;
}

.ipay-testing h3{
  margin-left: 18%;
  padding-top: 50px;
}

.back-button {
  text-decoration: none;
  color: #000;
  font-size: larger;
  margin-left: 150px;
 
}

.back-button:hover {
  color: purple;
}

.my-banner{
padding-top: 70px;
}

.my-thank-you{
  padding-top: -100px;
  width: 20%;
  height: 10%
}

.problem-heading{
  font-weight: bold;
  color: purple;
}

.food-class {
  margin-left: 75%;
  position: relative;
  bottom: 300px;
}

.ipay-process{
  color: black;
}

.ipay-design-process h1{
  margin-top: -15%;
  text-align: center;
  color: purple;
}

.ipay-design-process p{
  line-height: 1.6;
  padding-top: 20px;
  margin-left: 18%;
  width: 60%;
}

.ipay-design-process img{
  width: 50%;
  height: 30%;
  margin-left: 23%;
  padding-top: 70px; 
}

.competitive-sub h4{
  margin-left: 18%;
  padding-top: 50px;
}

.evaluation p{
  line-height: 1.6;
  padding-top: 20px;
  margin-left: 18%;
  width: 60%;
} 

.evaluation h3{
  margin-left: 18%;
  padding-top: 50px;
}

.evaluation img{
  width: 60%;
  height: 30%;
  margin-left: 18%;
  padding-top: 70px; 
}

.feature-list li {
  line-height: 1.6;
  padding: 10px;
  width: 60%;
  margin-left: 182px;
  list-style-type: none;
}

.insight-heading{
  color: purple;
}

.feature-list {
  margin-top: 50px;
}

.user-flow p{
  line-height: 1.6;
  padding-top: 30px;
  margin-left: 18%;
  width: 60%;
}

.user-flow h3{
  margin-left: 18%;
  padding-top: 50px;
}

.user-flow img{
  width: 30%;
  height: 10%;
  margin-left: 35%;
  padding-top: 70px; 
}

.design-hifi p{
  color: black;
  line-height: 1.6;
  padding-top: 30px;
  margin-left: 18%;
  width: 60%;
}

.design-hifi h1{
margin-top: -100px;
text-align: center;
color: purple;
font-family: 'Pangolin', cursive;
}

.design-hifi h3{
  margin-left: 18%;
  padding-top: 50px;
  color: black;
}

.design-hifi img{
  width: 60%;
  height: 30%;
  margin-left: 18%;
  padding-top: 70px; 
}

.ipay-testing img {
  margin-left: 220px;
  margin-top: 50px;
}

.stay-tune{
  color: purple;
  margin-top: 100px;
}

.kobo-thank-you{
  width: 40%;
  height: 20%;
  padding-top: 70px;
  margin-top: -100px;

}

.restaurant-thank-you{
  width: 50%;
  height: 30%;
  padding-top: -100px; 
}

.about-container {
  display: flex;
  color: black;
  
}

.left-section {
  width: 40%;
}

.left-section img {
  max-width: 65%;
  margin-left: 150px;
}

.left-section h2 {
  font-size: 24px;
  margin-top: -30px;
  margin-left: 170px;
}

.left-section .highlight {
  color: purple; 
}

.contact-section {
  margin-top: -3px;
  line-height: 2.3;
  margin-left: 173px;
}

.contact-section p {
  margin: 0;
  margin-top:-2px ;
}

.contact-section a {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
}

.right-section {
  width: 45%;
  margin-left: 70px;
  margin-top: 30px;
}

.right-section h3 {
  font-size: 20px;
  margin-top: 0;
}

.right-section p {
  margin: 0;
  line-height: 1.5;
}

.edu-section {
  color: black;
  font-size: medium;
  line-height: 1.8;
  background-color: #f8f5f5fd; 
 

}

.edu-section h1 {
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
  margin-top: 100px;
}

.degree {
  display: flex;
  justify-content: center;
  gap: 170px;
  margin-top: 50px;
}

.book-img img {
  width: 60%;
  height: auto;
  margin-left: 5%;
  padding-top: 70px; 
}

 .edu-2 {
  margin-left: 200px;
}

.edu-2 p{
  font-size: 15px;
}

.journey{
  color: black;
  line-height: 1.6;
}

.journey h1{
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
  margin-top: 100px;
}

.journey p{
  line-height: 1.6;
  padding-top: 30px;
  margin-left: 18%;
  width: 65%;
}

.journey h3 {
  margin-left: 18%;
  padding-top: 50px;
}

.journey-container{
  color: black;
}

.journey-container h3{
  margin-left: 18%;
  padding-top: 50px;
}

.law-container{
  display: flex;
  justify-content: center;
  gap: 170px;
  margin-top: 50px;
}

.legal img{
  width: 65%;
  height: auto;
  margin-left: 5%;
  padding-top: 70px; 
}

.journey-colmn p{
  line-height: 1.6;
  padding-top: 10px;
  margin-left: 34%;
  width: 75%;
}

.journey-colmn h3{
  margin-left: 34%;
}

.value p{
  line-height: 1.9;
  padding-top: 10px;
  margin-left: 18%;
  width: 65%;
  color: black;
}

.value h1 {
  text-align: center;
  color: purple;
  font-family: 'Pangolin', cursive;
  margin-top: 100px;
}

.value h3{
  margin-left: 18%;
  padding-top: 50px;
  color: black;
}

.value img{
  width: 60%;
  height: auto;
  margin-left: 20%;
  padding-top: 70px; 
  }

.award-column {
  display: flex;
  margin-top: 50px;
  color: black;
}

.award-img img{
  width: 30%;
  height: auto;
  margin-left: 15%;
  padding-top: 40px; 
}

.my-award h3{
  margin-left: -630px;
  margin-top: 110px;
}

.my-award li{
  margin-left: -655px;
  line-height: 1,9;
  padding: 10px;
  
}


@media screen and (max-width: 768px) {

   .hamburger {
  
    display: block;
}

   .hamburger.active  .bar:nth-child(2){
    opacity: 0;
   }

   .hamburger.active  .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
   }
   
   .hamburger.active  .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
   }

   .navbar-links{
    position: fixed;
    left: -100% ;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(151, 18, 151);
    width: 80%;
    margin-top: 40px;
    text-align: center;
    transition: 0.3s;

    
   }
  

  .navbar-link, .navbar-link1{
    margin: 16px 0;
  }

  .navbar-links.active{
     left: 0;
  }

  .navbar-logo{
    margin-left: -110px;
  }

  .centered-content h1 {
    font-size: 20px;
  }
  
  .skill-img {

    width: 95%;
    height: auto;
    margin-top: 10px;
    align-items: center;

  }

  .paragraph-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .column-list {
    list-style-type: disc;
    margin-right: 20px;
    margin-top: 50px;
    font-size:18px;
    text-align: left;
    padding-left: 95px;
    line-height: 1.6;
  }

  .product-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9fd; 
    margin-top: 230%;
    padding: 80px;
    
  }
  
  .product-info p {
    line-height: 1.6;
    width: 270px;
    font-size: 18px;

  }

  .product-info{
    margin-left: 20px;
  }

  
  .product-image img {
    width: 155%;
    height: auto;
    margin-top: 50px;
    margin-left: -65px;
  } 
 
  .bleanq-section {
    display: flex;
    flex-direction: column;
  }
  
   
  
  .bleanq-info h3,
  .bleanq-info h1,
  .bleanq-info p,
  .bleanq-info a {
    margin-left: -80px;
  }

  
  .bleanq-info p{
    width: 270px;
    font-size: 18px;
    
  } 

  .bleanq-info {
    margin-top: 40px;
  }
  
  .bleanq-image img {
    width: 90%;
    height: auto; 
    margin-left: 25px; 

   
  }

  .ipay-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    padding: 70px;
  }
  

  .ipay-info p {
    line-height: 1.6;
    width: 270px;
    font-size: 18px;

  }

  .ipay-info {
    margin-left: 30px;
  }
  
  
  
  .ipay-image img {
    width: 140%;
    height: auto;
    margin-left: -50px;
    margin-top: 55px;
  }

  .restaurant-section {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  
  .restaurant-info{
    margin-left: 60px;
    margin-top: 40px;
  }
  
  .restaurant-image img {
    width: 90%;
    height: auto; 
    margin-left: 25px;
  }


  .restaurant-info p {
    line-height: 1.6;
    width: 270px;
    font-size: 18px;
  }


  .learning-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    padding: 70px;
  }

  .learning-info p {
    line-height: 1.6;
    width: 270px;
    font-size: 18px;

  }
  
  .learning-info {
    margin-left: 30px;
  }
  .learning-image img {
    width: 145%;
    height: auto;
    margin-left: -60px;
    margin-top: 40px;
  }

   .footer-info p{
    margin-left: 55px;
  }

  .ipayimg-header {
    width: 80%;
    margin-left: 30px;
  }

  .ipayimg-header p {
    width: 90%;
    margin-left: 30px;
    margin-top: 50px;
    font-size: 18px;
  }
  
  .ipayimg-header img {
    width: 110%;
    margin-left:-5px;
  }

  .overview p{
    font-size: 18px;
    width: 115%;
    margin-left: -10px ;
  }
  
  .stay-tune {
    width: 80%;
    margin-left: 20px;
  }

  .kobo-thank-you {
    width: 80%;
    margin-left: -70px;
  }

  .img-header p {
    width: 80%;
    margin-left: 45px;
  }

  .img-header img {
    width: 130%;
    margin-top: -40px;
    margin-left: -45px;
  }

  .role {
    display: flex;
  flex-direction: column;
    gap: 30px;
    margin-top: 10px;
    margin-left: 90px;
  }
  
  .tools {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
    margin-top: 30px;
    gap: 20px;
  }

  .objective  {
    font-size: 18px;
    margin-left: -30px;
  }
  .objective p {
    width: 120%;
  }
  .goal {
    font-size: 18px;
    margin-left: -30px;
  }

  .goal p {
    width: 120%;
  }

  .problem {
    font-size: 18px;
    margin-left: -30px;
  }

  .problem p {
    width: 120%;
  }

  .problem img {
    width: 130%;
    margin-left: -15px;
  }

  .process img {
    width: 80%;
    margin-left: -20px;
    margin-top: -30px;
  }

  .design {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-left: 130px;
  }

  .questions {
    margin-left: -205px;
  }

  .problem-list li {
    font-size: 18px;
    width: 80%;
  }

  .research {
    margin-left: -200px;
    font-size: 18px;
  }

  .outcome p {
    width: 100%;
  }

  .outcome img{
    width: 115%;
    margin-left: -30px;
  }

  .sync {
    font-size: 18px;
    margin-left: -200px;
  }

  .sync h3 {
    width: 80%;
  }

  .sync p {
    width: 77%;
  }

  .sync-list li {
    width: 80%;
  }

  .pain-point img{
    width: 80%;
    margin-left: -100px;
  }

  .strategy img {
    width: 90%;
  }

  .competitive{
    font-size: 18px;
    margin-left: -21px;
  }

  .competitive p{
    width: 90%;
  }

  .com-analys img{
    width: 90%;
    margin-left: -10px;
  }

  .solution-list li {
    width: 90%;
  }

  .persona {
    font-size: 18px;
    margin-left: 55px;
  }

  .persona p {
  width: 85%;
  }

  .persona img {
    width: 95%;
    margin-left: -20px;
  }

  .site-map {
    font-size: 18px;
    margin-left: 60px;
  }

  .site-map p{
    width: 120%;
  }

  .site-map img {
    width: 130%;
    margin-left: -15px;
  }

  .design-phase{
    font-size: 18px;
    margin-left: -13px;
  }

  .mobile p {
    width: 115%;
  }

  .mobile img {
    width: 120%;
    margin-left: -5px;
  }

  .lo-fi img {
    width: 80%;
    margin-left: 50px;
  }

  .hi-fi h3 {
    width: 70%;
  }

  .hi-fi p {
    width: 70%;
  }

  .hi-fi img {
    width: 80%;
    margin-left: 50px;
  }

  .user-testing p {
    width: 70%;
  }

  .before-after img {
    width: 80%;
    margin-left: 50px;
  }

  .thank-you img {
    width: 80%;
    margin-left: 50px;
  }

  .next-casestudy {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid purple;
    border-radius: 20px;
    color: purple;
    text-decoration: none;
    margin-top: 70px;
    margin-left: 30px;
  }

 .about-container {
  display: flex;
  flex-direction: column;
 font-size: 18px;
  
}

 .left-section {
  width: 80%;
}

.left-section img {
  max-width: 65%;
  margin-left: 90px;
}

.left-section h2 {

  margin-top: 10px;
  margin-left: 70px;
  width: 90%;
}

.contact-section {
  margin-top: 50px;
  line-height: 2.3;
  margin-left: 103px;
}

.right-section {
  font-size: 18px;
  width: 70%;
  margin-left: 60px;
  margin-top: 70px;
}


.edu-section {
  font-size: 18px;
} 
.edu-2 h4{
  margin-left: 10px;
  width: 300px;
}

.award-img img {
  width: 90%;
  margin-left: 40px;
  margin-top: -30px;
}

.my-award h3 {
  margin-top: 320px;
  margin-left: -250px;
}

.my-award li {
 padding-left: 300px;
 
}

.journey{
  font-size: 18px;
}

.journey p {
  width: 70%;
  margin-left: 50px;
}

.journey h1 {
  width: 80%;
  margin-left: 30px;
}

.journey-container{
  font-size: 18px;
}

.journey-container h3 {
  line-height: 1.6;
  margin-left: 40px;
}

.law-container {
  display: flex;
  flex-direction: column;
}

.journey-colmn{
 margin-left: -85px;
 width: 100%;
  
}

.journey-colmn h3 {
  margin-left: 130px;
}

.legal img {
  margin-top: -160px;
  margin-left: 60px;
}

.value {
  font-size: 18px;
}

.value h3 {
  line-height: 1.6;
  margin-left: 50px;
}
.value img {
  width: 80%;
  margin-left: 40px;
}
} 
